<div class="body">
  <header class="header">
    <div class="container">
      <p class="title">
        {{ title }}
      </p>
    </div>
     <div class="image-section image">
        <div class="p-section p-section-relative">
             <span class="follow up">Scroll down to find me, {{ title }}</span>
        </div>
      </div>
  </header>
  <div class="wrapper">
    <div class="content">
      <div class="container">
      <app-stickers></app-stickers>
      </div>
    </div>
  </div>
  <footer class="footer">
    <span class="left">© Team Skye <i>2019</i></span>
    <div class="right"><ul><li><a href="https://t.me/SkayStickers">Telegram chat</a></li></ul></div>
  </footer>
</div>
