<div class="body">
  <header class="header">
     <span class="image-section image">
        <div class="p-section p-section-relative">
             <span class="follow up">Scroll down to find me, {{ title }}</span>
             <span class="follow down">Do not be afraid...</span>
        </div>
      </span>
  </header>
  <div class="wrapper">
    <div class="content">
      <div class="container">
      <app-stickers></app-stickers>
      </div>
    </div>
  </div>
  <footer class="footer">
    <span class="left">© Denezhnaia Elena <i>2019</i></span>
    <span class="right"><ul><li><a href="/">Home</a></li></ul></span>
  </footer>
</div>
