<div class="p-section">
  <div class="content">
    <div class="form">
      <div class="form--item">
        <label>
          Sticker name* :
          <input class="form-field-input" #stickerName />
        </label>
      </div>
      <div class="form--item">
        <label>
          Sticker content* :
          <input class="form-field-input" #stickerContent/>
        </label>
      </div>
      <div class="form--item">
        <label>
          Sticker background* :
          <input type="file" (change)="onFileUpload($event)"
                 class="form-field-input" #stickerBackground/>
        </label>
      </div>
      <div class="form--item">
        <span class="button ruby text-white">
            <a  (click)="add(
            stickerName.value,
            stickerContent.value,
            stickerBackground.value
            ); stickerName.value='';
            stickerContent.value=''">Add</a>
        </span>
      </div>
    </div>
  </div>
</div>
<div class="p-section">
  <div class="flex-table">
    <!--suppress AngularUndefinedBinding -->
    <div class="row" *ngFor="let sticker of stickers">
      <div class="row-item small">
        {{sticker.name}}
      </div>
      <div class="row-item fixed">
        <div class="sticker" id="{{sticker.id}}">{{sticker.content}}</div>
      </div>
      <div class="row-item small">
        <div class="select">
          <ul>
            <li class="ruby checked">
              <a (click)="convert({
              content: sticker.content,
              name: sticker.name,
              background: sticker.background
              })">Convert</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
