<!--suppress ALL -->
<div class="p-section">
  <div class="flex-table">
    <div class="row" >
      <div class="row-item small">
        {{example.name}}
      </div>
      <div class="row-item fixed">
        <!--suppress AngularUndefinedBinding -->
        <div class="sticker">
          <div class="sticker__background" [ngStyle]="{'background-color': ''+example?.bgColour + ''}">
            <div class="sticker__background-img" id="{{example.id}}"
                 [ngStyle]="{'background':'url('+ example?.background +') no-repeat 1% 68% border-box'}">
              <div class="sticker__content"
                   [ngStyle]="{'color': '' + example?.textColour + ''}"
              >{{example.content}}</div>
            </div>
          </div>
        </div>
      </div>
      <div class="row-item small">
        <span class="button ruby text-white">
            <a (click)="convert({
              id:example.id,
              name:example.name,
              content:example.content,
              background:example.background
              })">Convert</a>
        </span>
      </div>
    </div>
  </div>
</div>


