/*content description*/
.content {
  background-color: rgba(245, 245, 245, 0.3);
  padding: 1em;
  box-shadow: inset 1pt -1pt 1pt 0pt #C5B8C5;
}

.p-section {
  clear: both;
  padding: 2em;
}

.line-section {
  box-shadow: 0 0 1pt #D6C9D6;
  margin-bottom: 20pt;
  line-height: 16pt;

  a, a:visited {
    color: #908D90;
  }
  -webkit-animation-name: load-container; /* Chrome, Safari, Opera */
  -webkit-animation-duration: 5s; /* Chrome, Safari, Opera */
  animation-name: load-container;
  animation-duration: 5s;
}

.form {
  display: flex;
  align-items: self-start;
  margin-top: 12px;

  &:last-of-type {
    justify-content: end;
  }

  &__item {
    padding: 0 4px;
    width: 33%;

    @media screen and (max-width: 1024px){
      width: 100%;
      margin-top: 10px;
    }
  }

  @media screen and (max-width: 1024px){
    flex-direction: column;
    align-items: flex-start;
  }
}

.form-field-input {
  padding: 5pt;
  margin: 5pt 10pt;
  box-shadow: 0 0 2px 0 #967a96;
  border: 0;
}

.form-field-label {
  color: #695d5d;
  margin-left: 10pt;
  display: block;
}
/*content-description*/

/*selector*/
.select {

  ul {
    list-style-type: none;
    display: flex;
    padding: 0;
    margin: 0;
    box-shadow: 0 0 2px #B5ADBB;
    border-radius: 2px;
    align-items: baseline;

    li {
      padding: 0;
      margin: 0;
      text-align: center;

      a {
        display: block;
        padding: 5px 15px;
        cursor: pointer;
        font-size: 12px;
      }

      a:hover {
        color: #646464;
        box-shadow: inset 0 0 1px #646464;
        transition: color 0.3s linear;
      }

      &:last-child {
        align-self: flex-end;
        margin-bottom: 6px;
        margin-right: 12px;
      }
    }
    li.checked {
      a {
        box-shadow: 0 0 3px #41524C;
        color: #EBECED;
        text-shadow: 0 0 1px rgba(255, 255, 255, 0.8);
      }

      a:hover {
        color: #EBECED;
        opacity: 0.8;
      }
    }
  }

}
/*buttons*/
.button {
  padding: 3px 6px;
  border-radius: 2px;
  box-shadow: 0 0 3px #967a96;
  cursor: pointer;
  font-size: 11pt;
  white-space: nowrap;
  line-height: 27px;
  user-select: none;
  display: block;
  text-align: center;
  height: 30px;
  min-width: 50px;

  a {
    display: block;
    width: 100%;
  }
}

/*flex-tables*/
.flex-table {
  width: 100%;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  border: 1px solid #f2f2f2;
  font-size: 1rem;
  margin: 0.5rem;
  line-height: 1.5;
}
.flex-table-header {
  display: none;
}
.flex-table .row {
  width: 100%;
}
.flex-table .row:nth-of-type(even) {
  background-color: #f2f2f2;
}
.flex-table .row:nth-of-type(odd) {
  background-color: #fcfcfc;
}
@media screen and (min-width: 1024px) {
  .flex-table .row {
    display: flex;
    flex-flow: row nowrap;
  }
  .flex-table .row:nth-of-type(even) {
    background-color: #ffffff;
  }
  .flex-table .row:nth-of-type(odd) {
    background-color: #f2f2f2;
  }
}
.flex-table .row-item {
  display: flex;
  flex-flow: row;
  flex-grow: 1;
  flex-basis: auto;
  padding: 0.5em;

  @media screen and (min-width: 1024px) {
    border: 1px solid #eeecec;
    padding: 0.5em;
  }
}

.sticker {
  position: relative;
  color: #E20074;
  //background: url(../../img/island.jpg) no-repeat 1% 68%;
  width: 412px;
  height: 212px;
  padding: 1px;
  line-height: 57px;
  font-size: 50px;
  text-overflow: initial;
  text-align: center;
  vertical-align: middle;

  &__background {
    height: 100%;
  }

  &__background-img {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    max-width: 512px;
    max-height: 214px;
    margin: auto;
  }

  &__content {
    position: absolute;
    z-index: 2;
    padding: 6px;
    height: inherit;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
  }
}

.flex-table .row-item.small {
  width: 30%;
  @media screen and (max-width: 1024px) and (min-width: 300px) {
    width: 45%;
  }
  @media screen and (max-width: 299px) {
    display: none;
  }
}

.flex-table .row-item.fixed {
  width: 512px;
  @media screen and (max-width: 800px) and (min-width: 300px) {
    width: 45%;
  }
}

/*  background: url(../../img/island.jpg)no-repeat 4% 11%;*/

/*flex-tables*/
/*colours*/
.purple {
  background-color: rgba(120, 114, 205, 0.88);
  color: #DDDBF7;
}

.cyan {
  background-color: rgba(101, 162, 188, 0.99);
  color: #AFE5FD;
}

.gold {
  background-color: rgba(197, 174, 0, 0.65);
  color: #FFF49E;
}

.silver {
  background-color: rgba(247, 247, 247, 0.85);
  color: #B2B2C1;
}

.ruby {
  background-color: rgba(177, 65, 65, 0.85);
  color: #FD9090;
}

.text-white {
  color: #FFFFFF;
}
/*colours*/

.color-picker {
  border: 2px solid transparent;
  border-radius: 25px;
  box-shadow: 3px 1px 8px 0 #967a96;
  width: 46px;
  height: 46px;
  cursor: pointer;
  margin: 0 auto;
  display: block;

  @media screen and (max-width: 1024px){
    margin: 0 0 0 10pt;
  }
}

/*utility*/
.item-f-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.no-border {
  border: none;
  box-shadow: none;
}
